.cell {
    border-style: solid;
    border-width: 1px;
}

#grid {
    background-color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
}

body {
    font-family: 'Architects Daughter', cursive;
    background-image: url("resources/background.png");
}

h1 {
    text-align: center;
    font-size: 8em;
}

form {
    background-color: white;
    width: 610px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    margin-right: 1em;
    font-size: 1.5em;
}

button {
    font-size: 1.5em;
    font-family: 'Architects Daughter', cursive;
}

label[for="random"] {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

label[for="gradient"] {
    background-image: linear-gradient(to left, black, lightgray);
    -webkit-background-clip: text;
    color: transparent;
}

